@import 'components/styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi hover */
button:hover,
a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        width: 85%;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .footer {
        font-size: 12px;
    }
}

.chat-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-widget {
    position: relative;
    background: white;
    width: 80%;
    height: 70%;
    max-width: 400px;
    max-height: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }

    .chat-iframe {
        flex: 1;
        width: 100%;
        border: none;
    }
}
